.calculator {
  max-width: 400px;
  background-color: #3a4764;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-family: Arial, sans-serif;
  margin: auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {  
  font-size: 24px;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.toggle input {
  margin-left: 5px;
}

.display {
  background-color: #181f32;
  color: white;
  font-size: 36px;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

button {
  background-color: #eae3dc;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d1c5b1;
}

button.del {
  background-color: #647299;
  color: white;
}

button.large {
  grid-column: span 2;
  background-color: #647299;
  color: white;
}

button.equal {
  background-color: #d03f2f;
  color: white;
  grid-column: span 2;
}
