<!-- calculator.component.html -->
<div class="calculator">
    <div class="display">{{ currentNumber }}</div>
    <div class="keypad">
      <button (click)="getNumber('7')">7</button>
      <button (click)="getNumber('8')">8</button>
      <button (click)="getNumber('9')">9</button>
      <button (click)="setOperator('/')">/</button>
  
      <button (click)="getNumber('4')">4</button>
      <button (click)="getNumber('5')">5</button>
      <button (click)="getNumber('6')">6</button>
      <button (click)="setOperator('*')">x</button>
  
      <button (click)="getNumber('1')">1</button>
      <button (click)="getNumber('2')">2</button>
      <button (click)="getNumber('3')">3</button>
      <button (click)="setOperator('-')">-</button>
  
      <button (click)="getDecimal()">.</button>
      <button (click)="getNumber('0')">0</button>
      <button (click)="getResult()">=</button>
      <button (click)="setOperator('+')">+</button>
    </div>
    <button class="reset" (click)="clear()">RESET</button>
  </div>
  