<div class="calculator">
  <div class="header">
    <div class="title">calc</div>
    <div class="theme-switch">
      <span>THEME</span>
      <div class="toggle">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <input type="checkbox">
      </div>
    </div>
  </div>
  <div class="display">399,981</div>
  <div class="buttons">
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button class="del">DEL</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>+</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>-</button>
    <button>.</button>
    <button>0</button>
    <button>/</button>
    <button>x</button>
    <button class="large">RESET</button>
    <button class="equal">=</button>
  </div>
</div>
