<div class="calculator">
  <div class="header">
    <div class="title">calc</div>
    <div class="theme-switch">
      <span>THEME</span>

      <span>1</span>
      <span>2</span>
      <span>3</span>
      <div class="toggle">
        <input type="checkbox" id="themeToggle">
        
        <label for="themeToggle" class="slider">
          
        </label>

      </div>
    </div>
  </div>
  <div class="display">{{ currentNumber }}</div>
  <div class="buttons">
    <button (click)="getNumber('7')">7</button>
    <button (click)="getNumber('8')">8</button>
    <button (click)="getNumber('9')">9</button>
    <button class="del" (click)="delete()">DEL</button>
    <button (click)="getNumber('4')">4</button>
    <button (click)="getNumber('5')">5</button>
    <button (click)="getNumber('6')">6</button>
    <button (click)="getOperation('+')">+</button>
    <button (click)="getNumber('1')">1</button>
    <button (click)="getNumber('2')">2</button>
    <button (click)="getNumber('3')">3</button>
    <button (click)="getOperation('-')">-</button>
    <button (click)="getDecimal()">.</button>
    <button (click)="getNumber('0')">0</button>
    <button (click)="getOperation('/')">/</button>
    <button (click)="getOperation('x')">x</button>
    <button class="large" (click)="clear()">RESET</button>
    <button class="equal" (click)="calculate()">=</button>
  </div>
</div>
